@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body {
  height: 100vh !important;
  width: 100vw !important;
  font-family: 'Open Sans', sans-serif !important;
  background-color: rgba(3, 32, 255, 0.563) !important;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
