.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: fit-content;
  gap: 1rem;
  padding: 2rem;
}

.select {
  width: fit-content;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.button {
  width: fit-content;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
}

.buttondwn {
  width: fit-content;
  padding: 0.5rem 1rem;
  border: none;
  background-color: rgb(138, 227, 3);
  border-radius: 6px;
}

.buttonDis {
  width: fit-content;
  padding: 0.5rem 1rem;
  cursor: not-allowed;
  border-radius: 6px;
}

.label {
  width: 12rem;
}

.recaptcha {
  margin: 1rem auto;
}
